<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Maquettes</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h3>Liste des Maquettes</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mqt : ${maquette}">
            <td th:text="${mqt.semestre}"></td>
            <td>
                <a th:href="@{/ChefDepartement/listerMaquette(id=${mqt.id})}" class="btn btn-info">Voir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
